
name: Cortex CLI Code Scan using CLI Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CORTEX_API_KEY: ${{secrets.CORTEX_API_KEY}}
  CORTEX_API_KEY_ID: ${{secrets.CORTEX_API_KEY_ID}}
  CORTEX_API_BASE_URL: ${{ vars.CORTEX_API_BASE_URL }}
  TOKEN: ${{ secrets.TOKEN }}
  
jobs:
  cortex-code-scan-using-image:
    runs-on: ubuntu-latest

    steps:
    - name: Pull image and run code scan
      run: |
        IMAGE_NAME="${{ vars.IMAGE_DIST }}.traps.paloaltonetworks.com/cli-docker/${TOKEN}/method:amd64-latest"

        docker pull ${IMAGE_NAME}
        
        echo "--- Listing Host Directory ---"
        ls -la ${{ github.workspace }}
        
        echo "--- Listing Container Directory ---"
        docker run --rm \
          --entrypoint /bin/sh \
          --volume "${{ github.workspace }}:/workspace" \
          "$IMAGE_NAME" \
          -c "ls -la /workspace"
